*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  @font-face {
    font-family: "astrion-reverse";
    src: url(./Fonts/Astrion\ Reverse.woff2);
  }





  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(117, 34, 34);
    display: grid;
    justify-content: center;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font-family: inherit;
    font-size: 100%;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  #root, #__next {
    isolation: isolate;
  }

  .container {
    display: grid;
    grid-template-rows: 200px 100px 1fr;
    width: 180vh;
    height: auto;
    background-color: rgb(80, 53, 36);
    box-shadow: 0px 0px 8px 4px black;
    
  }

  .top-section {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-around;
    align-content: center;
    justify-self: center;
    background: #1a1a1a;
    width: 1400px;
    height: auto;
    margin: 16px;
    box-shadow: 0px 0px 8px 4px black;
    

  }

  .top-section > img {
    width: 160px;
  }

  .top-section > h1 {
    font-family: "astrion-reverse";
    align-self: center;
    color: goldenrod;
    font-size: 68px;
  }

   #openFormBtn {
    width:100px;
    height:50px;
    border-radius: 50px;
    align-self: center;
    margin-left: 16px;
    background-color: purple;
    color: white;
    font-weight: bold;
    box-shadow: 0px 0px 4px 2px black;
  }


  .bottom-section {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns:  repeat(4, 400px);
    grid-template-rows: repeat(3,300px);
    grid-auto-columns: 400px;
    grid-auto-rows: 300px;
    background: #1a1a1a;
    justify-items: center;
    margin: 16px 16px 0px 16px;
    box-shadow: 0px 0px 8px 4px black;
  }

  .addTomePopUp {
    display: grid;
    place-self: center;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    position: fixed;
    background-color:goldenrod;
    height: 300px;
    width: 400px;
    padding: 8px;
    transition: all .3s ease-in-out;
  }

    .addTomePopUp.visible {
      opacity: 1;
      z-index: 999;
    }


  .addTomePopUp > h2 {

    justify-self: center;

  }

  .addTomePopUp > form {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 30px 30px 75px 1fr;
    gap:8px;
  }

  .addTomePopUp > form > label {
    justify-self: end;
  }

  .addTomePopUp > form > input {
    width: 200px;

  }

  .addTomePopUp > form > button {
    display: grid;
    width:75px;
    height:25px;
    margin-top: 8px;
    grid-column: 1 / 3;
    justify-self: center;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 50px;
  }


  .tome-card {
    display: grid;
    justify-items: center;
    grid-template-rows: 25px 20px 1fr 25px;
    grid-template-columns: 25px 225px;
    padding: 8px;
    justify-content: center;
    background-color:goldenrod;
    width: 250px;
    height: 250px;
    margin: 16px;
    box-shadow: 0px 0px 8px 4px black;
  }

  .tome-card > h3 {
    grid-column: 2 / 3;
    font-size: 24px;
    align-self: center;
  }

  .tome-card > h4 {
    grid-column: 2 / 3;
    align-self: end;
  }

  .tome-card > button {
    grid-column: 2 / 3;
    width:75px;
    height:25px;
    align-self: flex-end;
    background-color: purple;
    color: white;
    font-weight: bold;
    border-radius: 50px;
  }

  .tome-card.visible {
    opacity: 1;
    
  }

  .tome-card > p {
    grid-column: 2 / 3;

  }



button:hover {
  opacity: .8;
}

#readBtn:active,
#openFormBtn:active,
#submitBtn:active,
#removeBtn:active {
  background-color: green;
}

.tome-card.read {
  box-shadow: 0px 0px 18px 8px green;
}

#removeBtn {
  font-size: 15px;
  width: 20px;
  height: 20px;
  border: 100px;
  justify-self: start;
  align-self: start;
  font-weight: bold;
  grid-column: 1 / 2;
  margin-left: 8px;
  border: 1px solid black;
}

